.projects__inner {
    @extend .container
}
.projects__header {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.projects__text {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2rem;

}
.projects__features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:3.12rem;

}
.projects__element {
    max-width: 22.5rem;
    p{
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6875rem;
        }
}
.projects__img {
}
.projects_text {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}