@import "media-queries-var";

// Brand
$c-brand-primary:   #2F6B4F;

// background
$c-bg-primary:      #FFF;
$c-bg-secondary:    #2A2C3D;
$c-bg-quaternary:   #D9D9D9;

// fonts
$c-font-primary:    #2A2C3D;
$c-font-secondary:  #FFFFFF;

// border
// $c-border:          2px solid rgba(#2A2C3D);
