.socials {
    display: flex;
    align-items: center;
  }
  
  .socials__item {
    margin-right: 1.5rem;
  }
  
  .socials__link {
    @include hover() {
      svg {
        fill: $c-brand-primary;
      }
    }
  
    svg {
      width: 2rem;
      height: 2rem;
      fill: #2A2C3D;
      transition: .3s ease;
    }
  }