* {
    box-sizing: border-box;

    &::selection {
        color: $c-font-secondary;
        background-color: $c-brand-primary;
    }
}

html {
    color: $c-font-primary;
    font-size: 16px;
    @include media('>=desktop', '<widescreen') { font-size: 14px; }
    font-family: $font-primary;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -.03em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3 {
    @include adaptive-font(32, 64);
    margin-bottom: 1rem;
}

h4 {
    @include adaptive-font(26, 32);
    margin-bottom: 1rem;
}

h5 {
    @include adaptive-font(18, 20);
}

hr {
    @include size(100%, 1px);
    background-color: rgba(233, 228, 219, 0.2);
    border: 0;
    margin: 0;
}

a {
    color: $c-font-primary;
    text-decoration: none;
    transition: var(--default-transition);

    @include hover {
        color: $c-brand-primary;
    }
}