.header {
    padding: 1.5rem 0;
    background-color: $c-brand-primary;
    }
.header__inner {
  
    @extend .container;

font-size: 1.25rem;
font-weight: 400;
   
}



.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    a{
        color: $c-font-secondary;
    }

    
}
.logo__container {
    display: flex;
    align-items: center;
    p{
        color: $c-font-secondary;
    }
    
}


.logo__img {
    padding-right: 0.5rem;
}
.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap:2.5rem; 
    
}
.menu__link:hover {
    color: $c-font-primary;
  
}


.menu__toggle {
    background: none;
    border: none;
    position: relative;
    z-index: 3;
  
    @include media('>=desktop') {
      display: none;
    }
  
    &.--opened {
  
      span {
        &:nth-child(1) {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
          transform: rotate(-45deg) translate(-6px, 6px) ;
        }
  
        &:nth-child(2) {
          opacity: 0;
        }
  
        &:nth-child(3) {
          -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
          transform: rotate(45deg) translate(-6px, -8px) ;
        }
      }
    }
  
    span {
      width: 33px;
      height: 3px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
      display: block;
    }
  }
  
  
  
  .menu__inner {
    @include media('<desktop') {
      &.--opened {
        opacity: 1;
        visibility: visible;
      }
  
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      background: $c-brand-primary;
      opacity: 0;
      visibility: hidden;
      transition: .3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .menu {
        flex-direction: column;
      }
    }
  
  }